@using RMS.Models

@model TenantInfoModel

<script src="~/js/custom.js"></script>
@*@if (Model.IsSuccess)
{
    <script>
        console.log('hi');
        toastSuccess(@Model.SuccessMessage);
    </script>
}*@

@{
    var loopcounter = 0;
    var count = 0;
    var j=0;
    int? familyListCount = 0;
    string FullName = "";
    var listCount = @Model.List.Count;
    var list = @Model.List;
}
<div class="card">
    <div class="card-header">
        <b>Tenant Information</b>
         <a class="btn btn-primary btn-sm" title="Edit Tenant" asp-controller="TenantInfo" asp-action="Create" style="float:right"><i class="fa fa-plus">&nbsp;</i>Add Tenant</a>
    </div>
    <div class="card-body"> 
       @while(loopcounter<listCount)
       {
        <div class="row">
            @for(int i=loopcounter;i<listCount ;i++)
            {
                    FullName = $"{list[i].FirstName} {list[i].LastName}";
                    <div class="col-md-4">
                        
                    <div class="card">
                      <div class="card-header">
                          <center><b> @FullName</b></center>
                      </div>
                      <div class="card-body">
                          <div>
                          <img src = "~/img/avatar5.png" class="center rounded-circle"> 
                          </div>
                          <br>
                          <div>
                              <center>
                                  <i class="fas fa-map-marker-alt fa-fw"></i>@list[i].Address
                                  <br>
                                  <b><i class="fa fa-address-book fa-fw"></i>@list[i].Contact</b> 
                                  <br>
                                  <b><i class="fas fa-users fa-fw" title="Family Member"></i>0</b> 
                                        @*@{
                                            string test = Model.List[i].FamilyList.Count.ToString();
                                            if(string.IsNullOrEmpty(test))
                                            {
                                                <b><i class="fas fa-users fa-fw"></i>0</b>
                                            }

                                            else
                                            {
                                              <b><i class="fas fa-users fa-fw"></i>Count</b>  
                                            }*@
                                  <br>
                                 <a href="/tenantinfo/Edit/@list[i].Id"  style="float :left!important"><i class="fas fa-pen"> </i></a> 
                                 <a href="" onclick = "deleteTenant(@list[i].Id)"  style="float :right!important" data-toggle="modal" data-target="#modal-sm"><i class="fas fa-trash-alt" style="color:red"> </i></a> 
                                 
                                  <a href ="/TenantInfo/GetTenantDetails/@list[i].Id" target="_blank" title="View details" ><input type="button" value="View details" class="btn btn-info btn-sm" ></a>
                              </center>
                          </div>
                      </div>
                  </div>

                </div>
                loopcounter++;
                count++;
                if(count==3)
                {
                    count = 0;
                    break;
                }
            }
            </div>
         }  
        
    </div>
  </div>
  <div class="modal fade show" id="modal-sm" style="display:none; padding-right: 17px;" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are You sure you want to Delete</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" onclick="confirm()" class="btn btn-primary">Delete</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
  <script>
      var deleteTenant = function(Id){
           console.log(Id);
            $('.modal-body').append('<input type="hidden" id="rowId" data-rowid='+Id+'>')
            $('#modal-sm').show();
      }
      var confirm = function(){
        var rowId = $('#rowId').data('rowid');
       // console.log(rowId);
        console.log(rowId);
        $.ajax({
            url:"/TenantInfo/Delete?Id=" +rowId,
            method :"post",
            success: function(){
                toastSuccess("Deleted");
                window.location.href = "/TenantInfo/Index";
            }
        }).done(function(){
            $('#modal-sm').hide();
        });
    }
      
  </script>