@using RMS.Models

@model TenantInfoModel

@{
    var loopcounter = 0;
    var count = 0;
    var j=0;
    int? familyListCount = 0;
    string FullName = "";
    var listCount = @Model.List.Count;
    var list = @Model.List;
}
<div class="card">
    <div class="card-header">
        <b>Tenant Information</b>
         <a class="btn btn-primary btn-sm" title="Edit Tenant" asp-controller="TenantInfo" asp-action="Create" style="float:right"><i class="fa fa-plus">&nbsp;</i>Add Tenant</a>
    </div>
    <div class="card-body"> 
       @while(loopcounter<listCount)
       {
        <div class="row">
            @for(int i=loopcounter;i<listCount ;i++)
            {
                    FullName = $"{list[i].FirstName} {list[i].LastName}";
                    <div class="col-md-4">
                        
                    <div class="card">
                      <div class="card-header">
                          <center><b> @FullName</b></center>
                      </div>
                      <div class="card-body">
                          <div>
                          <img src = "~/img/avatar5.png" class="center rounded-circle"> 
                          </div>
                          <br>
                          <div>
                              <center>
                                  <i class="fas fa-map-marker-alt fa-fw"></i>@list[i].Address
                                  <br>
                                  <b><i class="fa fa-address-book fa-fw"></i>@list[i].Contact</b> 
                                  <br>
                                  <b><i class="fas fa-users fa-fw" title="Family Member"></i>0</b> 
                                        @*@{
                                            string test = Model.List[i].FamilyList.Count.ToString();
                                            if(string.IsNullOrEmpty(test))
                                            {
                                                <b><i class="fas fa-users fa-fw"></i>0</b>
                                            }

                                            else
                                            {
                                              <b><i class="fas fa-users fa-fw"></i>Count</b>  
                                            }*@
                                  <br>
                                 <a href="/tenantinfo/Edit/@list[i].Id"  style="float :left!important"><i class="fas fa-pen"> </i></a> 
                                 <a href="/tenantinfo/Delete/@list[i].Id"  style="float :right!important"><i class="fas fa-trash-alt" style="color:red"> </i></a> 
                                 
                                  <a href ="/TenantInfo/GetTenantDetails/@list[i].Id" target="_blank" title="View details" ><input type="button" value="View details" class="btn btn-info btn-sm" ></a>
                              </center>
                          </div>
                      </div>
                  </div>

                </div>
                loopcounter++;
                count++;
                if(count==3)
                {
                    count = 0;
                    break;
                }
            }
            </div>
         }  
        
       
    </div>
  </div>