@using RMS.Models
@model TenantInfoModel
    @{ 
        int i = 1;
    }

<div>
    <h1>Tenant Information</h1>
    <form method="post">
        <div class="row form-group">
            <div class="col-md-4">
                <label>FistName</label>
                <input type="text" disabled name="FirstName" value="@Model.FirstName" class="form-control" />
            </div>
            <div class="col-md-4">
                <label>MiddleName</label>
                <input type="text" disabled name="MiddleName" value="Null" class="form-control" />
            </div>
            <div class="col-md-4">
                <label>LastName</label>
                <input type="text" disabled name ="LastName" value="@Model.LastName" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <label>Contact</label>
                <input type="number" disabled  name="Contact" value="@Model.Contact" class="form-control" />
            </div>
            <div class="col-md-4">
                <label>Address</label>
                <input type="text" disabled name="Address" value="@Model.Address" class="form-control" />
            </div>
            <div class="col-md-4">
                <label>City</label>
                <input type="text" disabled name="City" value="@Model.City" class="form-control" />
            </div>

        </div>

        <div class="row form-group">
            <div class="col-md-4">
                <label>State</label>
                <input type="text" disabled name="StateName" value="@Model.StateName" class="form-control" />

            </div>
            <div class="col-md-4">
                <label>District</label>
                <input type="text" disabled name="DistrictName" value="@Model.DistrictName" class="form-control" />
            </div>
            <div class="col-md-4">
                <label>FloorNumber</label>
                <input type="text"  disabled name="FloorNumer" value="@Model.FloorNumber" class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <label>WardNo</label>
                <input type="number" disabled name="WardNo" value="@Model.WardNo" class="form-control" />

            </div>
            <div class="col-md-4">
                <label>Email</label>
                <input type="text" disabled name="Email" value="@Model.Email" class="form-control" />
            </div>
            <div class="col-md-4">
                <label>Municipality</label>
                <input type="text" disabled name="Municipality" value="NULL" class="form-control" />
            </div>
        </div>

        <div>
            <h1>Family Information</h1>

            @for (int j = 0; j < Model.FamilyList.Count; j++)
            {
                @Html.HiddenFor(x => x.FamilyList[j].Id)
                <fieldset>
                    <legend>Relationship @i</legend>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label>FirstName</label>
                            @Html.TextBoxFor(x => x.FamilyList[j].FirstName, new { @class = "form-control" , disabled ="disabled"})
                        </div>
                        <div class="col-md-4">
                            <label>LastName</label>
                            @Html.TextBoxFor(x => x.FamilyList[j].LastName, new { @class = "form-control ", disabled ="disabled" })
                        </div>

                        <div class="col-md-4">
                            <label>Gender</label>
                            @Html.TextBoxFor(x => x.FamilyList[j].Gender, new { @class = "form-control", disabled = "disabled"})
                        </div>

                        <div class="col-md-4">
                            <label>Relationship</label>
                            @Html.TextBoxFor(x => x.FamilyList[j].Relationship, new { @class = "form-control",disabled = "disabled" })
                        </div>

                        <div class="col-md-4">
                            <label>Date of Birth</label>
                            @Html.TextBoxFor(x => x.FamilyList[j].DOB, new { @class = "form-control",disabled = "disabled" })
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </fieldset>
                <div class="clearfix"></div>
                <br>
                i++;
            }
        </div>
        <div>
            <input type="submit" value="Delete" class="btn btn-success" />
            <a href="/TenantInfo/Index" class="btn btn-primary">Back</a>
        </div>
    </form>

</div>
        
            }

      

