@using RMS.Models
@model TenantInfoModel
<script src="~/js/custom.js"></script>

<style>
    .font{
        font-size:large ;
        padding:2.25 rem
    }  
</style>
@{
    string Fullname = $"{@Model.FirstName} {@Model.LastName}";
    string FamilyFullName;
    var loopCounter=0;
    var iterationCount = 0;
    var j = 0;
}

<div class="card">
    <div class="card-header">
        Tenant Details
        @*<button type ="button" data-toggle="modal" data-target="#modal-lg" onclick=GetLastPayment(@Model.Id) class="btn btn-sm btn-success" style="float:right" title="Last paid">see last payment</button>*@
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <img src ="~/img/avatar5.png" width="200px" height="200px" class="img-thumbnail" data-toggle="modal" data-target="#modal-lg" onclick='ShowImage("/img/avatar5.png")'/>
            </div>
            <div class="col-md-8">                 
                <div class="card font" >
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <b> Name :</b> @Fullname                                
                            </div>
                             <div class="col-md-6">
                                <b>Address : </b> @Model.Address
                             </div>              
                         </div>
                        <div class="row">
                            <div class="col-md-6">
                                <b>Contact :</b>@Model.Contact
                            </div>
                            <div class="col-md-6">
                                <b>City :</b>@Model.City
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <b>State :</b>@Model.StateName
                            </div>
                            <div class="col-md-6">
                                <b>District</b> @Model.DistrictName
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col-md-6">
                                <b>Email Id :</b>@Model.Email
                            </div>
                            <div class="col-md-6">
                                <b>DOB :</b>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-md-6">
                                <b>Ward No :</b>@Model.WardNo
                            </div>
                            <div class="col-md-6">
                                <b>Municipality :</b>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-md-6">
                                <b>GrandFathers Name:</b>
                            </div>
                            <div class="col-md-6">
                                <b>Fathers Name:</b>
                            </div>
                        </div>
                         <div class="row">
                             <div class="col-md-6">
                                <b>Citizenship no:</b>
                            </div> 
                             <div class="col-md-6">
                                <b>Gender</b>
                            </div> 
                        </div>
                        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                        <p>Payment Summary</p>
                        <div class="row" >
                             <div class="col-md-6">
                                <b>Last Paid Amount:</b>@Model.PaidAmount
                            </div>
                            <div class="col-md-6">
                                <b>Payment Date:</b>@Model.PaymentDate
                            </div>
                        </div>
                         <div class="row">
                             <div class="col-md-6">
                                <b>Due:</b>@Model.DueAmount
                            </div>
                            <div class="col-md-6">
                                <b>Advance:</b>@Model.Advance
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>       

        @{
          if(Model.FamilyList.Count == 0)
             {
                <b><center>No Family members</center></b>
            }
            else
            {
                while(loopCounter < Model.FamilyList.Count)
                {
                    <div class="row">
                        @for(int i=j; i<Model.FamilyList.Count ;i++)
                         {
                                FamilyFullName = $"{Model.FamilyList[i].FirstName} {Model.FamilyList[i].LastName}";
                                 <div class="col-md-6">
                                      <div class="card font">
                                        <div class="card-header">
                                            <b>Relation : @Model.FamilyList[i].Relationship</b>
                                         </div>
                                         <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                       <img src ="~/img/avatar4.png" width="170px" height="170px" class="img-thumbnail">
                                                    </div>
                                                    <div class="col-md-7">
                                                       <div class="row">
                                                               <b>Name :</b>@FamilyFullName
                                                       </div>
                                                       <div class="row">
                                                        <b>Contact :</b> @Model.FamilyList[i].Contact
                                                       </div>
                                                       <div class="row">
                                                        <b>Gender :</b> @Model.FamilyList[i].Gender
                                                       </div>
                                                       <div class="row">
                                                        <b>DOb :</b> @Model.FamilyList[i].DOB
                                                       </div>
                                                       <div class="row">
                                                        <b>Occupation :</b>
                                                       </div>
                                                       <div class="row">
                                                        <b>Institute Name :</b> 
                                                       </div>
                                                    </div>
                                                </div>
                                         </div>
                                     </div>
                            </div>
                            loopCounter++;
                            iterationCount++;
                            if(iterationCount == 2)
                            {
                                iterationCount =0;
                                break;
                            }
                        }
                      </div>   
                  }                      
            }
        }
     </div>  
</div> 
    


 <div class="modal fade" id="modal-lg">
    <div class="modal-dialog modal-lg">
        
            <div class="modal-header" id="">
                <p id="fontcolor">@*@RMS.Utility.Utilities.GetTenantNameOnly(Model.TenantId)*@ </p>
                <button type="button" class="close Closebutton" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <img id="Img01" width="400px" height="400px" class="modal-content">
            </div>
        </div>
    </div>

</div>

 <script>
     var modal = document.getElementById("modal-lg");
     var modalImg = document.getElementById("Img01");
      function ShowImage(src){
         modal.style.display = "block";
         //$('#img').append('<img id="Img01" width="400px" height="400px" class="modal-content" src="/img/avatar5.png">')
        modalImg.src = src;
     }
 </script>