@using RMS.Models
@model TenantInfoModel
<!-- DataTables -->
@*<link rel="stylesheet" href="~/AdminLTE-3.1.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.1.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.1.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">*@
@{
    string FullName = "";

}

@*<h1>Family Information</h1>*@
@if (Model.IsSuccess)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Model.SuccessMessage</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (!Model.IsSuccess && Model.flag == 2)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@Model.SuccessMessage</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="card">
    <div class="card-body">
        <p>
        @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-info" })
         <a class="btn btn-primary" title="Edit Tenant" asp-controller="TenantInfo" asp-action="Create"><i class="fa fa-plus">&nbsp;</i>Add Tenant</a>
        <a href="/Familyinfo/Index" class="btn btn-success">Click here to See Family Information</a>
    </p>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <b>Tenant Information</b>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover tab-content" id="myTable">
                <thead>
                    <tr class="danger">
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>State</th>
                        <th>City</th>
                        <th>WardNo</th>
                        <th>Email</th>
                        <th>District</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.List)
                    {
                        FullName = $" {item.FirstName} {item.LastName}";
                        //FullName = item.FirstName + " " + item.LastName;
                        //FullName = string.Concat(item.FirstName,item.LastName);

                        <tr class="info">
                            <td>@FullName</td>
                            <td>@item.Address</td>
                            <td>@item.Contact</td>
                            <td>@item.StateName</td>
                            <td>@item.City</td>
                            <td>@item.WardNo</td>
                            <td>@item.Email</td>
                            <td>@item.DistrictName</td>

                            <td>
                                <a href="/TenantInfo/Edit/@item.Id" class="btn btn-sm btn-success" title="Edit Tenant"><i class="far fa-edit"></i></a>
                                <a href="/Tenantinfo/Delete/@item.Id" class="btn btn-sm btn-danger" title="Delete Tenant"><i class="fa fa-trash"></i></a>
                                <a href="/Familyinfo/Index/@item.Id" class="btn btn-sm btn-info" title="View Family"><i class="far fa-eye"></i></a>
                                <a href="/Familyinfo/Create/@item.Id" class="btn btn-sm btn-primary" title="Add Family"><i class="fa fa-plus"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
@*<script src="~/AdminLTE-3.1.0/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/jszip/jszip.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/AdminLTE-3.1.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>*@







