@using RMS.Models
@model TenantInfoModel

@{
    string FullName = "";

}

@if (Model.IsSuccess)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Model.SuccessMessage</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (!Model.IsSuccess && Model.flag == 2)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@Model.SuccessMessage</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="card">
    <div class="card-header">
        <b>Tenant Information</b>
         <a class="btn btn-primary btn-sm" title="Edit Tenant" asp-controller="TenantInfo" asp-action="Create" style="float:right"><i class="fa fa-plus">&nbsp;</i>Add Tenant</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover tab-content table-sm" id="myTable">
                <thead>
                    <tr class="danger">
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>State</th>
                        <th>City</th>
                        <th>WardNo</th>
                        <th>Email</th>
                        <th>District</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.List)
                    {
                        FullName = $" {item.FirstName} {item.LastName}";
                        //FullName = item.FirstName + " " + item.LastName;
                        //FullName = string.Concat(item.FirstName,item.LastName);

                        <tr class="info">
                            <td>@FullName</td>
                            <td>@item.Address</td>
                            <td>@item.Contact</td>
                            <td>@item.StateName</td>
                            <td>@item.City</td>
                            <td>@item.WardNo</td>
                            <td>@item.Email</td>
                            <td>@item.DistrictName</td>

                            <td>
                                <a href="/TenantInfo/Edit/@item.Id" class="btn btn-xs btn-success" title="Edit Tenant"><i class="far fa-edit"></i></a>
                                <a href="/Tenantinfo/Delete/@item.Id" class="btn btn-xs btn-danger" title="Delete Tenant"><i class="fa fa-trash"></i></a>
                                <a href="/Familyinfo/Index/@item.Id" class="btn btn-xs btn-info" title="View Family"><i class="far fa-eye"></i></a>
                                <a href="/Familyinfo/Create/@item.Id" class="btn btn-xs btn-primary" title="Add Family"><i class="fa fa-plus"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>








